RandomCode/RandomCode/Debug/
RandomCode/ipch/
RandomCode/RandomCode.sdf
RandomCode/
TritonEngine/GLFW-build/
TritonEngine/.vs/TritonEngine/v15/ipch/
TritonEngine/TritonEngine/Debug/
TritonEngine/.vs/TritonEngine/v15/
TritonEngine/TritonEngine/x64/Debug/
TritonEngine/Debug/
TritonEngine/x64/
